html,
:root{
    --color-white : #ffffff;
    --color-black : #000000;
    --color-primary : #64C6B5;
    --color-lightgreen : #70D4AD;
    --color-midiumbrightgreen : #87E0A1;
    --color-brightgrren : #A8EB90;
    --color-yellow : #F9F871;
}
body{
    margin: 0;
}

html{
    min-height: 10%;
    box-sizing: border-box;
    font-size : 20px;
}

body {
    width : 100%;
    height : 100%;
    background-image: linear-gradient(
            80deg,
            var(--color-primary) ,
            var(--color-lightgreen) ,
            var(--color-midiumbrightgreen) ,
            var(--color-brightgrren) ,
            var(--color-yellow)
          );
      /* background-repeat: no-repeat; */
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
p {
    color: #231457;
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;	
}

h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

p {
    font-size : 0.9rem;
    line-height: 1.3rem;
}

p:last-child{
    margin-bottom: -2px;
}

.site-wrap{
    max-width: 700px;
    margin: 0 auto;
    padding: 5rem 2rem;
}

section{
    margin-bottom: 3rem;
    padding : 0;
    background : #C4FCF0;
    border-radius: 12px;
    /* box-shadow: 2px 2px 2px 1px rgba(243, 8, 8, 0.2); */
    box-shadow: 10px 10px 0 1px transparentize(#db0c2f, 0.97),
    0px 0px 0 3px transparentize(#204754, 0.98);
}

section:first-child{
    margin-top: 0;
}


section:last-child{
    margin-bottom: 4px;
}

[data-scroll]{
    opacity: 10;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.93);
    transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

}

[data-scroll='in']{
    opacity: 5;
    transform: translateY(6rem) scale(0.93);
}

[data-scroll='out']{
    opacity: 20;
    
}